html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: center
}
form {
    border: 1px solid palegreen;
    display: grid;
    place-items: center center;
    padding: 3rem;
    background-image: url(./images/cookbook.jpg);
    background-size: 100%;
}

.Picture-url,
.cook,
.difficulty,
.time,
.ingredients,
.steps,
.recipe-name {
    display: grid;
    padding: 1rem;
}

input {
    padding-block-end: 1rem;
}

h1 {
    color: mediumvioletred;
}

label {
    font-weight: 700;
    font-size: 1rem;
}

.ingredients,
.steps {
    padding-block-start: 16px;
}

.ingredient-button,
.add-steps {
    margin-inline-start: 1rem;
}
.submit-button {
    margin: 16px;
    background-color: mediumturquoise;
}